<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RevitBIMTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="PrinterDatabase"
			 connectionString="Driver={PostgreSQL Unicode(x64)};Server=localhost;Port=5432;Database=revit_printers;Uid=postgres;Pwd=2308171980;MaxVarcharSize=1024;UseDeclareFetch=1;Fetch=2048;ReadOnly=0;CommLog=0;Debug=0;BoolsAsChar=1;RowVersioning=0;ShowSystemTables=0;ShowOidColumn=0;FakeOidIndex=0;ConnSettings=SET statement_timeout=30000;SET lock_timeout=5000;SET default_transaction_isolation='serializable';"
			 providerName="System.Data.Odbc" />
	</connectionStrings>

	<!-- ОСНОВНЫЕ НАСТРОЙКИ -->
	<appSettings>

		<add key="DefaultDatabaseProvider" value="PostgreSQL" />

		<add key="DatabaseCommandTimeout" value="60" />

		<add key="DatabaseMaxRetryAttempts" value="5" />

		<add key="PrinterLockTimeoutMinutes" value="60" />

		<add key="PrinterReservationMaxRetries" value="5" />

		<add key="PrinterReservationRetryDelayMs" value="100" />

		<add key="LogLevel" value="Information" />

		<add key="MaxLogFileSizeMB" value="50" />

		<add key="LogRetentionDays" value="30" />

		<add key="ConnectionPoolSize" value="10" />

		<add key="TransactionTimeoutSeconds" value="1800" />

	</appSettings>

	<!-- НАСТРОЙКИ СРЕДЫ ВЫПОЛНЕНИЯ -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Перенаправления версий сборок при необходимости -->
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>

		<!-- Настройки сборщика мусора для производительности -->
		<gcServer enabled="true" />
		<gcConcurrent enabled="true" />
	</runtime>

	<!-- НАСТРОЙКИ СИСТЕМЫ -->
	<system.diagnostics>
		<!-- Конфигурация трассировки для отладки -->
		<switches>
			<add name="DatabaseTracing" value="Warning" />
			<add name="PrinterTracing" value="Information" />
		</switches>

		<sources>
			<source name="RevitBIMTool" switchName="DatabaseTracing">
				<listeners>
					<add name="console" type="System.Diagnostics.ConsoleTraceListener" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<!-- ПОЛЬЗОВАТЕЛЬСКИЕ НАСТРОЙКИ -->
	<userSettings>
		<RevitBIMTool.Properties.Settings>
			<!-- Здесь будут храниться пользовательские настройки -->
		</RevitBIMTool.Properties.Settings>
	</userSettings>

</configuration>