<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="RevitBIMTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<!-- CONNECTION STRINGS -->
	<connectionStrings>

		<!-- PostgreSQL для принтеров -->
		<add name="PrinterDatabase"
			 connectionString="Host=localhost;Port=5432;Database=revit_printers;Username=postgres;Password=2308171980;Pooling=true;MinPoolSize=1;MaxPoolSize=20;CommandTimeout=30;"
			 providerName="Npgsql" />

		<!-- In-Memory для тестирования -->
		<add name="PrinterDatabaseInMemory"
			 connectionString="InMemory"
			 providerName="InMemory" />
		
	</connectionStrings>

	<!-- APP SETTINGS -->
	<appSettings>
		<!-- Какую БД использовать по умолчанию -->
		<add key="DefaultDatabaseProvider" value="PostgreSQL" />

		<!-- Timeout для блокировок принтеров (минуты) -->
		<add key="PrinterLockTimeoutMinutes" value="10" />

		<!-- Интервал очистки истекших блокировок (минуты) -->
		<add key="LockCleanupIntervalMinutes" value="2" />

		<!-- Уровень логирования -->
		<add key="LogLevel" value="Debug" />
	</appSettings>

	<!-- USER SETTINGS -->
	<userSettings>
		<RevitBIMTool.Properties.Settings>
			<setting name="ChatId" serializeAs="String">
				<value>0</value>
			</setting>
			<!-- Добавляем новые пользовательские настройки -->
			<setting name="PreferredPrinterProvider" serializeAs="String">
				<value>PostgreSQL</value>
			</setting>
			<setting name="LastUsedExportPath" serializeAs="String">
				<value></value>
			</setting>
		</RevitBIMTool.Properties.Settings>
	</userSettings>
	
</configuration>